.riprendere {
    background-color: #7169418d;    /* giallo chiaro */
    border: 4px solid #ffcc00;    /* bordo giallo più scuro */
    padding: 12px;
    border-radius: 8px;
    margin: 15px 0;
}


